.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.modal {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.modal-close {
    position: absolute;
    top: 0px;
    right: 0px;
    border: none;
    background: none;
    cursor: pointer;
}

.modal-content {
    position: relative;
    text-align: left;
    padding-top: 30px;
}