::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: rgb(167, 167, 167);
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

html {
    height: stretch;
    height: -webkit-fill-available;
}

body {
    margin: 0px !important;
    min-height: 100vh;
    min-height: stretch;
    min-height: -webkit-fill-available;
}

*,
html,
body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0px;
    padding: 0px;
}

p {
    margin: 0px;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}